<!DOCTYPE html>
<!--The content below is only a placeholder and can be replaced.-->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">I2I - Information to Insight</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <!--li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li-->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Theory & Reality</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Team</a>
        </li>
        <!--li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li-->
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">- Business Cycle -
        <br/>Is next Depression coming to the United States?
      </div>
      <div class="intro-heading text-uppercase">
        <br/>Be Ready for the Impacts!
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Learn More</a>
    </div>
  </div>
</header>

<!-- Services -->
<!--section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">E-Commerce</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </section-->

<!-- About -->
<section class="bg-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Four famous economic bubbles</h2>
        <h3 class="section-subheading text-muted"> Mouse over the circles to see the influence!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline1">
              <div class="donutchart1"></div>
              <app-donut-chart eventcase="1"></app-donut-chart>
              <!--div class="timeline-image"-->
              <!--img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt=""-->
              <!--/div-->
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1636 ~ 1637</h4>
                <h4 class="subheading">Tulip Mania</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Tulip mania reached its peak during the winter of 1636–37 when an offer of 49,000 metres square of land was
                  made for one of two existing Semper Augustus bulbs. In February 1637, tulip bulb contract prices collapsed
                  abruptly and the trade of tulips ground to a halt. After over a year of political negotiation, the center
                  of the tulip-contract trade during the "mania" determined the compensation to the sellers to be only
                  <b>3.5%</b> of the contract price for those contracts made between November 30, 1636 and the spring of 1637.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="donutchart2"></div>
            <app-donut-chart eventcase="2"></app-donut-chart>
            <!--div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="">
                </div-->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1923 ~ 1933</h4>
                <h4 class="subheading">Great Depression</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">The Great Depression was a severe worldwide economic depression that took place mostly during the 1930s,
                  originating in the United States. The timing of the Great Depression varied across nations. In most countries
                  it started in 1929 and lasted until 1941. Although it was the crash of 1929 that gained the most attention,
                  stocks continued to fall for another three years until bottoming out in July of 1932. The Dow Jones Industrial
                  Average(DJIA) drop from 381.17 on Sep 03, 1929 to 41.22 on Jul 08, 1932.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="donutchart3"></div>
            <app-donut-chart eventcase="3"></app-donut-chart>
            <!--div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="">
                </div-->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2000 ~ 2002</h4>
                <h4 class="subheading">Dot-com Bubble</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">The dot-com bubble (also known as the Internet bubble) was a historic economic bubble and period of excessive
                  speculation that occurred roughly from 1997 to 2001, a period of extreme growth in the usage and adaptation
                  of the Internet and many Internet-based companies were founded and failed. During 2000–2002, the bubble
                  collapsed. Some companies failed completely and shut downwhile others suffered great stock decline. The
                  NASDAQ Composite peaked at a high of 5132.52 on March 10, 2000 during the first Internet bubble, and subsequently
                  fell to a low of 1108.49 on October 10th 2002 when the bubble burst.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="donutchart4"></div>
            <app-donut-chart eventcase="4"></app-donut-chart>
            <!--div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="">
                </div-->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2007 ~ 2008</h4>
                <h4 class="subheading">Housing Bubble</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">The United States housing bubble was a real estate bubble affecting over half of the U.S. states. Housing
                  prices peaked in early 2006, started to decline in 2006 and 2007, and reached new lows in 2012. On December
                  30, 2008, the Case-Shiller home price index reported its largest price drop in its history. The credit
                  crisis resulting from the bursting of the housing bubble is—according to general consensus—an important
                  cause of the 2007–2009 recession in the United States. The US stock market peaked in October 2007, when
                  the Dow Jones Industrial Average index exceeded 14,000 points. It then entered a pronounced decline, which
                  accelerated markedly in October 2008. By March 2009, the Dow Jones average had reached a trough of around
                  6,600.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be aware
                <br>of Next
                <br>Bubble!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid -->
<section class="" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">The Theory and Reality</h2>
        <h3 class="section-subheading text-muted">Click on each picture to learn more with different visualizations.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>The Business Cycle</h4>
          <p class="text-muted">Four Stages Theory and S&P 500 index data</p>
        </div>
      </div>
      <!--div class="col-md-6 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/portfolio/02-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>The historical data of S&P 500 index</h4>
              <p class="text-muted">1950-2017</p>
            </div>
          </div-->
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/03-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>The Industry Impacts</h4>
          <p class="text-muted">2007~2017</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/04-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>The World Wide Trend</h4>
          <p class="text-muted">2007-2008</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/05-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>The Heat</h4>
          <p class="text-muted">2015-2017</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">Check out our website!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="">
          <h4>Yucheng Guo</h4>
          <p class="text-muted">Lead Designer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://github.com/li0near">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/li0near">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/yuchengg/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="">
          <h4>Cheng-Lin Li</h4>
          <p class="text-muted">Lead Architect</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://github.com/Cheng-Lin-Li">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/clark.cl.li">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/cheng-lin-li-7211a269/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="">
          <h4>Sovan Rath</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://github.com/sorath92">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/rath.sonux">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/rathsovan/">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">.</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; I2I 2017</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <img src="assets/img/end/d3.png" alt="">
          </li>
          <li class="list-inline-item">
            <img src="assets/img/end/angular-js.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/bootstrap.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/html.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/ts.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/css.png" alt="">
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/sp500.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/djia.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/msci.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/worldbank.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/bea.png" alt="">
          </li>
          <li class="list-inline-item">
            <img class="fa" src="assets/img/end/nasdaq.png" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Portfolio Modals -->
<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{title1}}</h2>
              <p class="item-intro text-muted">{{subtitle1}}</p>
              <!--img class="img-fluid d-block mx-auto" src="assets/img/portfolio/01-full.jpg" alt=""-->
              <app-theory-chart></app-theory-chart>
              <p>You can compare above artificial data theory chart with below the trend of real S&P 500 index!</p>
              <app-line-chart></app-line-chart>
              <p>Please select the data range from 1995 to 2017 on lower chart. The S&P 500 index presents business cycles.
                </p>
              <ul class="list-inline">
                <li>Date: November 2017</li>
                <li>Author: Theory Chart - Cheng-Lin Li</li>
                <li>Author: Time Line Chart - Sovan Rath</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close This Chart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{title2}}</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <!--img class="img-fluid d-block mx-auto" src="assets/img/portfolio/02-full.jpg" alt=""-->
              <!--app-line-chart></app-line-chart-->
              <p></p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Explore</li>
                <li>Category: Graphic Design</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close This Chart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{title3}}</h2>
              <p class="item-intro text-muted"></p>
              <!--img class="img-fluid d-block mx-auto" src="assets/img/portfolio/03-full.jpg" alt=""-->
              <app-bar-chart></app-bar-chart>
              <p>This chart is an assesment of the impact for 2000 & 2008 recession on the different Industries of United states.</p>
              <ul class="list-inline">
                <li>Date: December 2017</li>
                <li>Author: Sovan Rath</li>
                <li>Category: Industry</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close This Chart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{title4}}</h2>
              <p class="item-intro text-muted">Discover the GDP growth trend over the past 26 years.</p>
              <!--img class="img-fluid d-block mx-auto" src="assets/img/portfolio/04-full.jpg" alt=""-->
              <app-world-map></app-world-map>
              <div style="text-align: left; padding-top: 50px; padding-left: 8vw; height:250px;">
                <p>Using tips:</p>
                <ul>
                  <li>Hover over each country erea to show detailed information.</li>
                  <li>Hover over legend tiles to highlight only the countries with the same color.</li>
                  <li>Hover over bars to display detailed information on the upper left corner.</li>
                </ul>
              </div>
              <ul class="list-inline">
                <li>Date: November 2017</li>
                <!-- <li>Client: Lines</li> -->
                <li>Author: Yucheng Guo</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close This Chart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{title5}}</h2>
              <p class="item-intro text-muted">Discover the MSCI trend of G20 countries (except European Union) in recent 28 years.</p>
              <!--img class="img-fluid d-block mx-auto" src="assets/img/portfolio/05-full.jpg" alt=""-->
              <app-heat-map></app-heat-map>
              <p>

              </p>
              <ul class="list-inline">
                <li>Date: November 2017</li>
                <li>Author: Yucheng Guo</li>
                <!-- <li>Category: Website Design</li> -->
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close This Chart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/06-full.jpg" alt="">
              <p>fficia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <ul class="list-inline">
                <li>Date: January 2017</li>
                <li>Client: Window</li>
                <li>Category: Photography</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close This Chart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script-->