<!-- <span id="reset" style="background-color:yellow; padding: 3px;">reset</span> -->
<div style="text-align: left; padding-top: 40px; padding-left: 5vw;">
    <p>The <a href="https://www.msci.com"><font color="blue">MSCI</font></a> is a stock market index of 1,652 world stocks, and used as a common benchmark for global stock funds.
        <br>
        <br> <b>Note:</b> the values used for this heat map and legend are logarithms to base 2 to diliver better visualization of the trend.
        <br>Tooltip shows the original values.</p>
</div>
<button id="reset" class="btn btn-primary" data-dismiss="" type="button">reset</button>
<div id="heat-map"></div>
<div style="text-align: left; padding-top: 50px; padding-left: 5vw;">
    <p>Using tips:</p>
    <ul>
        <li>Hover over each tile to show information about the corresponding country.</li>
        <li>Click on axes labels to sort the data based on the according feature.</li>
        <li>Click on the button
            <b>"RESET"</b> to resume the original order.</li>
    </ul>
    <p>
        <span>Refer to the following table for more detailed information.</span>
        <br>
        <span>Click on the table heads to sort the records according.</span>
    </p>
</div>
<div id="table"></div>